body{
    margin: 0;
    background-color: hsl(0, 0%, 95%);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
}

.moon{
    color: black;
}

.darkModeBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;
    background-color: hsl(0, 0%, 95%);
    gap: 10px;
}
main{
    padding: 10px 50px;
    background-color: hsl(0, 0%, 95%);
}
article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.inputBox{
    display: flex;
    margin: 0;
    border: none;
    max-height: 50px;
    font-size: 20px;
    background-color: hsl(0, 0%, 95%);
}
.searchBtn{
    background-color: hsl(0, 0%, 95%);
    border: none;
    max-height: 50px;
}
.dropBtn{
    font-size: 14px;
    background-color: hsl(0, 0%, 95%);
    border: none;
    width: 115px;
    height: 20px;
}
.dropdownContent{
    position: relative;
    z-index: 999;
    display: none;
    flex-direction: column;
    text-align: center;
    font-size: 35px;
    margin-bottom: -170px;
    background-color: hsl(0, 0%, 95%);
}
.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    background-color: hsl(0, 0%, 95%);
}
.dropSelector{
    margin-top: 0;
    border: none;
    font-size: 14px;
    background-color: hsl(0, 0%, 95%);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    background-color: hsl(0, 0%, 95%);
}

.sectionRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(0, 0%, 95%);
}
.country{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 0;
    background-color: hsl(0, 0%, 90%);
}
.name{
    text-align: center;
    border: none;
    font-size: 20px;
    margin-left: -7px;
    background-color: hsl(0, 0%, 90%);

}
.content{
    padding: 20px;
    justify-content: flex-start;
    border: none;
}
footer{
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 150px;
    overflow: hidden;
}
.backButton{
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 4px grey;
}
.detailed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image{
    width: 40vw;
}

.columns{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.extendedName{
    font-size: 30px;
}

.borders{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.borderCountry{
    text-align: center;
    align-items: center;
    width: 60px;
    height: 25px;
    border: 2px solid lightgrey;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 2px 4px 4px grey;
    color: black;
}
.bordersExtended{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

@media only screen and (max-width: 600px){
    .sectionRow{
        flex-direction: column;
    }
    article{
        flex-direction: column;
    }
    .detailed{
        flex-direction: column;
    }
    .columns{
        flex-direction: column;
    }
    footer{
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .text{
        text-align: center;
    }
    .image{
        align-self: center;
    }
    .extendedName{
        text-align: center;
    }
    .borders{
        flex-direction: column;
    }
    .borderCountry{
        width: 40px;
        height: 20px;
    }
}